#wrapper {
    margin: auto;
    width: 750px;                           /* width mengatur lebar */
    border: 1px solid red;                /* border mengatur tebal border, solid bersifat garis padat, red berupa warna */
}

#header {
    height: 80px;
    border: 1px solid blue;
}

#inner {
    float: left;                            /* float: left membuat melayang pada kiri */
    margin: 5px 0;
    border: 1px solid black;
}

#sidebar {
    float: left;
    margin-right: 20px;                     /* mengatur margin bagian kanan */
    width: 180px;
    height: 330px;                          /* mengatur tinggi */
    border: 1px solid red;
}

#content {
    float: left;
    width: 544px;
    height: 330px;
    border: 1px solid green;
}

#footer {
    clear: both;                        
    height: 50px;
    border: 1px solid blue;
}