body {
    color: white;
    margin: 40;
    padding: 40;
    height: 100vh;
    background: linear-gradient(#FF99CC 15%, #2B2C28 15%);
    background-size: 100% 100%;
    font-family: sans-serif;
}

.form-control {
    color: #fff;                              /* Mengatur warna */
    border-color: #1E1F22;                    /* Mengatur warna border */
}

.bg-custom {
    background-color: #202225;                /* Mengatur warna background */
}

th {
    padding: 15px;
    text-align: center;
    background-color: #f2f2f2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    margin-right: 10px;
    
}

.edit-btn {
    background-color: #49BCF0;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #0096c8;
}

.header-button{
    background-color: #fb6376;
    border: none;
}

.header-button:hover {
    background-color: #FA455A;
}